html
  head
    link(rel='stylesheet', href='css/index.css')
    script(src='js/index.js')
  body
    //- #test.container
    //-   #code.codeContainer
    //-   .item
    //-   .item
    //-   .item
    //-   .item
    //-   .item
    //-   .item
    //-   .item
    //-   .item
    //-   .item
    //-   .item
    //-   .item
    //-   .item
    //-   .item
    //-   .item
    //-   .item
    //-   .item
    //-   .item
    //-   .item
    //-   .item
    //-   .item
    //-   .item
    //-   .item
    //-   .item
    //-   .item
    //-   .item
    //- .container1
    textarea#code(cols="70", rows="50")
    