body {
    /* background: rgb(28, 32, 34); */
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* justify-content: center; */
    /* align-items: stretch; */
    align-content: center;
    /* flex-start | flex-end | center | space-between | space-around | space-evenly */
}

.item {
    width: 50px;
    height: 50px;
    background: rebeccapurple;
    margin-left: 10px;
    margin-top: 10px;
}

.container1 {
    position: absolute;
    left: 110px;
    width: 100px;
    height: 100px;
    background: lawngreen;
}

.codeContainer {
    width: 550px;
    height: 750px;
    background: seashell;
}

textarea {
    background-attachment: local;
    background-repeat: no-repeat;
    border-color: #ccc;

    font-size: .8rem;
    letter-spacing: 1px;
    line-height: 1.5;

    border-radius: 5px;
    border: 1px solid #ccc;
    /* box-shadow: 1px 1px 1px #999; */

    color: #fff;
    background: black;

    width: 1000;
    padding-left: 35px;
    padding-top: 10px;
    padding-bottom: 20px;

    margin: 100px auto;
}