h1 {
    text-align: center;
    margin-top: 30px;
}

textarea {
    display: block;
    background-attachment: local;
    background-repeat: no-repeat;
    border-color: #ccc;

    font-size: .8rem;
    letter-spacing: 1px;
    line-height: 1.5;

    border-radius: 5px;
    border: 1px solid #ccc;

    color: #fff;
    background: black;

    width: 1000;
    padding-left: 35px;
    padding-top: 10px;
    padding-bottom: 20px;

    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
}

.menu {
    width: 70px;
    height: 500px;
    margin-left: 660px;
    /* margin-left: 1780px; */
    margin-top: -980px;
}

img {
    width: 70px;
    height: 70px;
    margin-bottom: 30px;
}